@import "../styles/vars";

.head {
	&__title {
		text-align: center;
	}
	&__subtitle {
		text-align: center;
	}
	&__box {
		position: relative;
		width: 49%;
		background: $mainColor;
		border-radius: 20px;
		height: 230px;
	}
	&__box-img {
		background-position: center center;
		filter: brightness(0.4);
		background: $active;
		background-size: cover;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 50px;
		border-top-right-radius: 18px;
		border-top-left-radius: 18px;
	}
}

.head__top-2 {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
.head__box-logo {
	z-index: 1;
	position: absolute;
	left: 20px;
	top: -15px;
	padding: 0 5px;
	background-color: #fff;
	border-radius: 10px;
	font-weight: 700;
	height: 34px;
	color: #000;
	img {
		width: 56px;
		height: 34px;
	}
}
.head__box-number {
	z-index: 1;
	position: absolute;
	right: 20px;
	top: -15px;
	padding: 5px 25px;
	color: #000;
	background-color: #fff;
	border-radius: 10px;
	font-weight: 700;
}

.head__box-btns {
	position: absolute;
	display: flex;
	right: 20px;
	bottom: 20px;
}
.head__box-btn {
	font-size: 13px;
	background-color: $background;
	padding: 10px;
	padding-right: 100px;
	border-radius: 10px;
	position: relative;
	transition: all 0.3s;
	& svg {
		position: absolute;
		width: 5rem;
		height: 1rem;
		top: 50%;
		transform: translateY(-50%);
		right: 0px;
	}
	&:hover {
		background: $buttonActive;
		transform: translateX(5px);
	}
}

.head__box-info {
	cursor: pointer;
	transition: all 0.3s;
	margin-right: 10px;
	background: $info;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	&:hover {
		background: $infoDark;
	}
	svg {
		width: 15px;
		height: 15px;
		color: $mainColor;
	}
}

.head__box-bonuses {
	padding-top: 35px;
	display: flex;
	justify-content: flex-end;
	position: relative;
}
.head__box-bonus {
	width: 240px;
	margin: 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	line-height: 1;
	white-space: nowrap;
	height: 100px;
	background: rgba($color: #fff, $alpha: 0.2);
	border-radius: 10px;
	padding: 0 20px;
	font-size: 37px;
	text-align: center;
	font-weight: 700;
	div:last-child {
		font-size: 24px;
		font-weight: 400;
	}
}
.head__top-4 {
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
	.head__box {
		width: 24%;
	}
	.head__box-bonuses {
		justify-content: center;
	}
}
//end contact
@media (max-width: 1250px) {
	.head__top-2 {
		margin-bottom: 0;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		& .head__box {
			margin: 20px 0;
			width: 100%;
		}
	}
	.head__top-4 {
		flex-wrap: wrap;
		.head__box {
			width: 49%;
			margin: 20px 0;
		}
	}
}
@media (max-width: 660px) {
	.head__box-bonuses {
		justify-content: center;
	}
	.head__top-4 .head__box {
		width: 100%;
		margin: 20px 0;
	}
}
