$background: #172030;
$mainColor: #ffffff;
$active: #192843;
$mainSize: 16px;
$borderColor: #2f3d56;
$buttonActive: #2f3d56;
$info: #397ae6;
$infoDark: #2a59a8;
$success: #009e69;
$successDark: #00734d;
$secondary: #c8c8c8;
