@import "../../styles/vars";

.post__breadcrumps {
	display: flex;
	margin-bottom: 20px;
	a {
		color: $secondary;
		&:hover {
			color: white;
			text-decoration: underline;
		}
	}
}

.post__breadcrump {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	padding-right: 40px;
	position: relative;
	text-transform: capitalize;
	white-space: nowrap;
	svg {
		right: 10px;
		position: absolute;
		width: 20px;
		height: 20px;
	}
}
